{% include 'adminheader.html' %}

<div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">

		{% if data['staffs'] %}
		<h1>STAFFS IN  BRANCH  {{data['bname']}}</h1>
		<table class="table" width="600px">
			<tr>
				<th>STAFF ID</th>
				<th>FIRST NAME</th>
				<th>LAST NAME</th>
				<th>PHONE</th>
				<th>EMAIL</th>
				<th>STATUS</th>
			
			</tr>
			{% for row in data['staffs'] %}
			<tr>
				<td>S__{{row['staff_id']}}</td>
				<td>{{ row['first_name'] }}</td>
				<td>{{row ['last_name']}}</td>
				<td>{{ row['phone']}}</td>
				
				<td>{{row['email']}}</td>
				{% if  row['user_type'] not in('staff','staff') %}
				<td>IN-ACTIVE</td>
				{% endif %}
				{% if  row['user_type'] not in('inactive','inactive') %}
				<td>ACTIVE</td>
				{% endif %}

			</tr>
			{% endfor%}
		</table>
		{% else %}
		<h2>NO STAFFS IN  BRANCH {{data['bname']}}</h2>
		{% endif %}
		
	</form>
</center>
 </div>    
                            </div>  <!-- col-xs-12 -->                      
                        </div> <!-- row -->
                        
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
        </div>


{% include 'footer.html' %}