{% include 'branchheader.html' %}



<script> 
		function printDiv() { 
			var divContents = document.getElementById("div_print").innerHTML; 
			var a = window.open('', '', 'height=500, width=500'); 
			a.document.write(divContents); 
			a.document.close(); 
			a.print(); 
		} 
	</script> 


<div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
       
                               <div class="tm-banner-header">





<center>
<form method="post">
	<table class="table" align="right" style="width: 1000px">
		<tr>
			<th>FILTER:</th>
					<th><input type="radio" name="type" value="Paid" ><th>Paid</th></th>
					<th><input type="radio" name="type" value="all" checked ></th><th>Whole</th>
			<th>FROM DATE</th>
			<td><input type="date" name="from_date"></td>
			<th>TO DATE</th>
			<td><input type="date" name="to_date"></td>
			<td>	
			<input type="submit" name="submit" value="search" class="btn btn-info"></td>
		</tr>
	</table>

	<div id="div_print" >
		{% if data['booking'] %}
		<br><br><br><br><br><br>
		<h1>BOOKINGS</h1>

		<table class="table" width="1000px">
			<tr>
				<td align="right" class="btn btn-info">TOTAL -{{data['total']}}</td>
			</tr>
			<tr>
				<th>BOOKING ID</th>
				<th>CUSTOMER NAME</th>	
				<th>LOCATION</th>
				<th>PARCEL HEIGHT</th>
				<th>PARCEL LENDTH</th>
				<th>PARCEL WIDTH</th>
				<th>FROM BRANCH</th>
				<th>TO BRANCH</th>
				<th>PRICE</th>
				<th>BOOKING DATE</th>
				<th>BOOKING STATUS</th>
			</tr>
			{% for row in data['booking'] %}
			<tr>
				<td>B__{{row['booking_id'] }}</td>
				<td>{{row['first_name']}}</td>
				<td>{{ row['toloc'] }}</td>
				<td>{{ row['weight'] }}</td>
				<td>{{row ['length']}}</td>
				<td>{{ row['width']}}</td>
			{% for i in data['branch'] %}
				{% if i['branch_id']==row['from_branch'] %}
				<td>{{i['branch_name']}}</td>
				{% endif %}
			{% endfor %}
			{% for i in data['branch'] %}
				{% if i['branch_id']==row['to_branch'] %}
				<td>{{i['branch_name']}}</td>
				{% endif %}
			{% endfor %}

				{% if row['amount']=='Pending' %}
				<td>NOT CONFORMED</td>
				{% else %}
				<td>{{row['amount']}}</td>
				{% endif %}
				<td>{{row['booking_date']}}</td>
				<td>{{row['booking_status']}}</td>
			</tr>
			
			{% endfor%}
			
		</table>
		{% else %}
		<h2>NO BOOKINGS</h2>
		{% endif %}
</div>

	<a href="branch_print" class="btn btn-info">PRINT</a>
	</form>

</center>
 </div>    
                            </div>  <!-- col-xs-12 -->                      
                        </div> <!-- row -->
                        
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
        </div>

{% include 'footer.html' %}