{% include 'customerheader.html' %}

<div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">

<center>
	<form method="post">
<style type="text/css">
	td{
		color: black !important;
	}
</style>

	<form method="post">
		<h1><B>CHANGE PASSWORD</B></h1> 
		<table class="table" width="600px" style="height: 300px" >
			<tr style="border-bottom-style: hidden;">
				<th>CURRENT PASSWORD</th>
				<td><input type="password" name="opass"  class="form-control"></td>
			</tr>
			<tr style="border-bottom-style: hidden;">
				<th>PASSWORD</th>
				<td><input type="password" name="cpass"  class="form-control" minlength="8" placeholder="Password must be atleast 8 characters"></td>
			</tr>
			<tr style="border-bottom-style: hidden;">
				<th>CONFIRM PASSWORD</th>
				<td><input type="password" name="npass" style=" width: 255px;" class="form-control" minlength="8" placeholder="Password must be atleast 8 characters"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="CHANGE PASSWORD" class="btn btn-outline-primary"><!-- &emsp;<a href="?action=delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete your account?');">DELETE ACCOUNT</a> --></td>
			</tr>
		</table>
		
	
	</form>
</center>


 </div>    
                            </div>  <!-- col-xs-12 -->                      
                        </div> <!-- row -->
                        
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
        </div>
{% include 'footer.html' %}