{% include 'publicheader.html' %} 

<div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
                                <div class="tm-banner-header">
                                    <center>
		   						<form method="post">
								<!-- <h1 style="color:rgb(19, 179, 237)">LOGIN</h1> -->
								<h1>
									<!-- <u style="text-decoration-color: aqua;text-decoration-style: dotted;">LOGIN</u> -->
									<B>LOGIN</B>
								</h1>
								<br>
								<table class="table" style="width: 500px" rules=none>
									{% if data['invalid'] %}
										<tr style="border-bottom-style: hidden;">
											<th class="btn btn-danger">{{data['invalid']}}</th>
										</tr>
										{% endif %}
									<tr style="border-bottom-style: hidden;">
										<th>USERNAME</th>
										<td><input type="text" name="uname" style="border-radius: 10px;" class="form-control"></td>
									</tr>
									<tr style="border-bottom-style: hidden;">
										<th>PASSWORD</th>
										<td><input type="password" style="border-radius: 10px;" name="password" class="form-control"></td>
									</tr>
									<tr style="border-bottom-style: hidden;">
										<td colspan="2" align="center"><input type="submit" name="submit" value="Login" class="btn btn-info btn-lg"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><a href="public_chanagepassword" class="btn btn-secondary">Forgot Password ?</a></td>
									</tr>
								</table>
								</form>
							</center>      
                                </div>    
                            </div>  <!-- col-xs-12 -->                      
                        </div> <!-- row -->
                        
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
        </div>

  
 
		   						
	
		   						
		   						<!-- <center>
		   						<form method="post">
								<h1>LOGIN</h1>
								<table class="table" style="width: 500px">
									<tr>
										<th>USERNAME</th>
										<td><input type="text" name="uname" class="form-control"></td>
									</tr>
									<tr>
										<th>PASSWORD</th>
										<td><input type="password" name="password" class="form-control"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><input type="submit" name="submit" value="login" class="btn btn-primary"></td>
									</tr>
									<tr>
										<td colspan="2" align="center"><a href="stureg" class="btn btn-warning">New User? cilck here to register</a></td>
									</tr>
								</table>
								</form>
							</center> -->



			

{% include 'footer.html' %}