{% include 'publicheader.html' %}

<div class="tm-page-wrap mx-auto">
            <section class="tm-banner">
                <div class="tm-container-outer tm-banner-bg">
                    <div class="container">

                        <div class="row tm-banner-row tm-banner-row-header">
                            <div class="col-xs-12">
       
                               <div class="tm-banner-header">


<center>

<form method="post">
<H1>PASSWORD RECOVERY</H1>

<table class="table" style="width: 500px">
	<tr>
		<th>USERNAME</th>
		<td><input type="text" name="uname" class="form-control"></td>
	</tr>
	<tr>
		<th>e-mail</th>
		<td><input type="text" name="em" class="form-control"></td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="submit" value="SEND" class="btn btn primary"></td>
	</tr>
</table>

</form>

</center>
</div>
                  </div>  <!-- col-xs-12 -->                      
                        </div> <!-- row -->
                        
                        <div class="tm-banner-overlay"></div>
                    </div>  <!-- .container -->                   
                </div>     <!-- .tm-container-outer -->                 
            </section>
        </div>

{% include 'footer.html' %}